
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.iphone-14-plus-4-E4f {
  width: 100%;
  height: 108.7rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .iphone-14-plus-1-Zcj {
    display: flex;
    padding-bottom: 63.5rem;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 172.2rem;
    overflow: hidden;
    flex-direction: column;

    .auto-group-d599-ghM {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.7rem 2.4rem 3.7rem 2.4rem;
      width: 100%;

      .auto-group-j9wp-Cvb {
        width: 34.15rem;
        height: 21.6rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 3.85rem 4.2rem 0rem;

        .textos-ie3 {
          top: 9.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 30.3rem;
          height: 11.8rem;
          position: absolute;
          left: 3.85rem;

          .vote-na-melhor-releitura-clicando-no-boto-votar-eXh {
            text-align: center;
            font-size: 2.4rem;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            max-width: 30.3rem;
            font-weight: 800;
            line-height: 1.0902273655;
            color: #00420c;
            font-family: Inter, 'Source Sans Pro';
          }
          .confira-agora-as-produes-dos-alunos-das-turmas-dos-segundos-anos-de-informtica-logo-abaixo-4rK {
            margin-left: 0.0599rem;
            text-align: center;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            max-width: 29rem;
            font-weight: 500;
            line-height: 1.0902273996;
            color: #727272;
            flex-shrink: 0;
          }
        }
        .logo-ifro-cacoal-1-XV1 {
          width: 12rem;
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .botoes-redirect-EuD {
        height: 3.4rem;
        cursor: pointer;
        flex-shrink: 0;
        margin: 0rem 8.7rem 0rem 8.8rem;
        width: calc(100% - 17.5rem);

        .frame-4-AH5 {
          font-weight: 600;
          background-color: #349a3e;
          cursor: pointer;
          line-height: 1.0902273178;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: center;
          box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
          color: #ffffff;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-size: 2rem;
          white-space: nowrap;
          border-radius: 0.7rem;
        }
      }
    }
    .frame-7-24P {
      display: flex;
      flex-direction: column;
      background-color: #000000;
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;

      .auto-group-mlky-MsM {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.6rem 5rem 21.1rem 5rem;

        .frame-9-TQb {
          margin-bottom: 2.8rem;
          width: 100%;
          height: 18.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .votar-x6T {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2.4rem;
            width: 15.2rem;
            height: 100%;
            align-items: center;
            display: flex;

            .rectangle-2-sz7 {
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
            }
            .informaes-do-cosplay-atX {
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 2.7rem 0rem;
            }
            .botao-votar-66B {
              width: calc(100% - 7.7rem);
              height: 3.4rem;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.0902273178;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
              border-radius: 0.7rem;
              cursor: pointer;
              background-color: #349a3e;
              margin: 0rem 3.7rem 0rem 4rem;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
            }
          }
          .votar-hbm {
            width: 15.2rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rectangle-2-qhy {
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
            }
            .informaes-do-cosplay-gyV {
              font-weight: 500;
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 2.7rem 0rem;
              font-size: 1.3rem;
            }
            .botao-votar-Adm {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #349a3e;
              margin: 0rem 3.7rem 0rem 4rem;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              white-space: nowrap;
              cursor: pointer;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.0902273178;
              border-radius: 0.7rem;
              height: 3.4rem;
              flex-shrink: 0;
              width: calc(100% - 7.7rem);
            }
          }
        }
        .frame-10-Nzj {
          width: 100%;
          height: 18.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .votar-Xcj {
            margin-right: 2.4rem;
            width: 15.2rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rectangle-2-G4X {
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
              height: 10.2rem;
            }
            .informaes-do-cosplay-aL7 {
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 2.7rem 0rem;
              font-size: 1.3rem;
              font-weight: 500;
            }
            .botao-votar-rYX {
              color: #ffffff;
              align-items: center;
              justify-content: center;
              background-color: #349a3e;
              flex-shrink: 0;
              margin: 0rem 3.7rem 0rem 4rem;
              height: 3.4rem;
              cursor: pointer;
              line-height: 1.0902273178;
              font-family: Inter, 'Source Sans Pro';
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              font-size: 2rem;
              white-space: nowrap;
              border-radius: 0.7rem;
              width: calc(100% - 7.7rem);
              font-weight: 600;
              display: flex;
            }
          }
          .votar-eDV {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 15.2rem;
            height: 100%;
            align-items: center;

            .rectangle-2-aN3 {
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
            }
            .informaes-do-cosplay-gAB {
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 2.7rem 0rem;
            }
            .botao-votar-B6w {
              margin: 0rem 3.7rem 0rem 4rem;
              line-height: 1.0902273178;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              width: calc(100% - 7.7rem);
              height: 3.4rem;
              font-size: 2rem;
              font-weight: 600;
              white-space: nowrap;
              border-radius: 0.7rem;
              cursor: pointer;
              color: #ffffff;
              background-color: #349a3e;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
            }
          }
        }
      }
      .frame-8-NBR {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 2.4rem 1.5rem 2.4rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;

        .crditos-back-end-do-site-jlio-cesar-2-b-informtica-front-end-do-site-genildo-kau-2-a-informtica-ajustes-tcnicos-kerollayne-2-a-informtica-e-pedro-2-b-informtica-integraes-e-servidor-eubert-e-sayro-2-a-informtica-EjR {
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.0902273655;
          color: #8c8c8c;
          font-family: Inter, 'Source Sans Pro';
          max-width: 21.8rem;
        }
      }
    }
  }
}
