
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.iphone-14-plus-1-VCb {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-ntgs-tkX {
    padding: 1.7rem 4.55rem 2rem 2.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-db6f-foD {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 100%;
      height: 25.4rem;

      .textos-ncw {
        flex-direction: column;
        width: 33.7rem;
        height: 15.6rem;
        position: absolute;
        left: 2.15rem;
        top: 9.8rem;
        align-items: center;
        display: flex;

        .aberta-a-votao-para-melhor-cosplay-e-melhor-hq-da-snct-2023-JrB {
          text-align: center;
          font-size: 2.4rem;
          color: #00420c;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-weight: 800;
          line-height: 1.0902273655;
          max-width: 33.7rem;
        }
        .confira-agora-as-produes-dos-alunos-das-turmas-dos-segundos-anos-de-informtica-e-de-todos-os-primeiros-anos-clicando-logo-abaixo-84X {
          font-weight: 500;
          line-height: 1.0902273996;
          color: #727272;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 29.7rem;
          text-align: center;
          font-size: 1.4rem;
        }
      }
      .logo-ifro-cacoal-1-8ij {
        object-fit: cover;
        vertical-align: top;
        width: 12rem;
        height: 12rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .botoes-redirect-EFy {
      width: calc(100% - 7.35rem);
      height: 3.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.65rem 0rem 4.7rem;

      .frame-4-WjH {
        flex-shrink: 0;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.7rem;
        margin-right: 3.1rem;
        cursor: pointer;
        line-height: 1.0902273178;
        align-items: center;
        justify-content: center;
        background-color: #349a3e;
        height: 100%;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
        width: 13.5rem;
      }
      .frame-5-Wsh {
        font-weight: 600;
        line-height: 1.0902273178;
        box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
        border-radius: 0.7rem;
        font-size: 2rem;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        width: 11.9rem;
        color: #ffffff;
        align-items: center;
        height: 100%;
        cursor: pointer;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        background-color: #349a3e;
      }
    }
  }
  .frame-7-aMm {
    width: 100%;
    height: 27.3rem;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    flex-shrink: 0;
    margin-bottom: 3rem;

    .frame-6-WWK {
      height: 3.1rem;
      cursor: pointer;
      color: #349a3e;
      font-family: Inter, 'Source Sans Pro';
      box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
      position: absolute;
      top: 20.4rem;
      line-height: 1.0902273655;
      width: 11rem;
      left: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 0.7rem;
      font-size: 1.6rem;
      font-weight: 600;
      white-space: nowrap;
    }
    .frame-7-6UX {
      position: absolute;
      left: 23.4rem;
      line-height: 1.0902273655;
      width: 11rem;
      color: #ffffff;
      justify-content: center;
      box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
      white-space: nowrap;
      display: flex;
      border-radius: 0.7rem;
      height: 3.1rem;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      top: 48.9rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      background-color: #349a3e;
    }
    .images-j1h {
      width: 25.6086rem;
      height: 19.6892rem;
      position: absolute;
      left: 17.8rem;
      top: 2.7rem;
      box-sizing: border-box;
      padding: 0.5rem 0.181rem 0.5rem 6.427rem;

      .monalisa-96e92206-2-pYw {
        vertical-align: top;
        width: 19.0007rem;
        height: 18.1123rem;
        object-fit: cover;
      }
    }
    .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-la-ele-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged-it-was-popularised-in-the-1960s-with-the-release-of-letraset-sheets-containing-lorem-ipsum-passages-and-more-recently-with-desktop-kSb {
      top: 3.2rem;
      font-weight: 600;
      line-height: 1.0902273872;
      color: #ffffff;
      height: 15.6rem;
      position: absolute;
      left: 2.3rem;
      width: 22.6rem;
      font-size: 1.1rem;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-yrxy-CC7 {
    margin: 0rem 2.4rem 5.1rem 0rem;
    width: calc(100% - 2.4rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .hq-spider-man-1-uMR {
      margin-bottom: 1.0482rem;
      width: 18.7rem;
      height: 20.1518rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-7ph1-Eeb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 22.6rem;
      align-items: center;

      .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-la-ele-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged-it-was-popularised-in-the-1960s-with-the-release-of-letraset-sheets-containing-lorem-ipsum-passages-and-more-recently-with-desktop-aTZ {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.0902273872;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.3rem;
        max-width: 22.6rem;
      }
      .frame-6-JXy {
        box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
        flex-shrink: 0;
        margin: 0 5.7rem;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        height: 2.9rem;
        cursor: pointer;
        background-color: #349a3e;
        line-height: 1.0902273655;
        white-space: nowrap;
        color: #ffffff;
        display: flex;
        border-radius: 0.7rem;
        width: calc(100% - 11.4rem);
        font-weight: 600;
      }
    }
  }
  .frame-8-JAb {
    overflow: hidden;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.3rem 2.4rem 1.5rem 2.4rem;
    width: 100%;

    .crditos-back-end-do-site-jlio-cesar-2-b-informtica-front-end-do-site-genildo-kau-2-a-informtica-ajustes-tcnicos-kerollayne-2-a-informtica-e-pedro-2-b-informtica-integraes-e-servidor-eubert-e-sayro-2-a-informtica-ch5 {
      color: #8c8c8c;
      font-family: Inter, 'Source Sans Pro';
      max-width: 21.8rem;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.0902273655;
    }
  }
}
