
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.iphone-14-plus-3-ShM {
  width: 100%;
  height: 108.7rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .iphone-14-plus-1-BQ3 {
    padding-bottom: 63.5rem;
    height: 172.2rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;

    .auto-group-1y2f-h7V {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.7rem 2.4rem 3.7rem 2.4rem;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-k3ep-DLj {
        margin: 0rem 3.32rem 4.2rem 0rem;
        width: 34.6799rem;
        height: 21.6rem;
        position: relative;
        flex-shrink: 0;

        .textos-8Co {
          left: 3.3799rem;
          top: 9.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 31.3rem;
          height: 11.8rem;
          position: absolute;

          .vote-no-melhor-quadrinho-clicando-no-boto-votar-eS3 {
            margin: 0rem 0.06rem 1.9rem 0rem;
            max-width: 31.1rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 800;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.0902273655;
            color: #00420c;
            flex-shrink: 0;
          }
          .confira-agora-as-produes-dos-alunos-das-turmas-dos-primeiros-anos-de-informtica-e-de-agropecuria-logo-abaixo-jkK {
            font-weight: 500;
            line-height: 1.0902273996;
            color: #727272;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.3rem;
            text-align: center;
            font-size: 1.4rem;
          }
        }
        .logo-ifro-cacoal-1-zw9 {
          object-fit: cover;
          vertical-align: top;
          width: 12rem;
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .botoes-redirect-Jwq {
        height: 3.4rem;
        cursor: pointer;
        flex-shrink: 0;
        margin: 0rem 8.7rem 0rem 8.8rem;
        width: calc(100% - 17.5rem);

        .frame-4-RmZ {
          line-height: 1.0902273178;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
          font-weight: 600;
          white-space: nowrap;
          align-items: center;
          background-color: #349a3e;
          cursor: pointer;
          border-radius: 0.7rem;
          height: 100%;
          font-size: 2rem;
          justify-content: center;
          width: 100%;
        }
      }
    }
    .frame-7-Sgf {
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #000000;
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;

      .auto-group-idmh-PM1 {
        box-sizing: border-box;
        padding: 3.6rem 5rem 21.1rem 5rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-9-7Xu {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
          width: 100%;
          height: 18.8rem;

          .votar-T5y {
            flex-shrink: 0;
            margin-right: 2.4rem;
            width: 15.2rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .rectangle-2-Bnf {
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
            }
            .informaes-do-cosplay-tBH {
              margin: 0rem 0.3rem 2.7rem 0rem;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .botao-votar-Ns9 {
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 3.7rem 0rem 4rem;
              height: 3.4rem;
              line-height: 1.0902273178;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              border-radius: 0.7rem;
              flex-shrink: 0;
              width: calc(100% - 7.7rem);
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              white-space: nowrap;
              display: flex;
              background-color: #349a3e;
              cursor: pointer;
              font-weight: 600;
              color: #ffffff;
            }
          }
          .votar-KA7 {
            flex-direction: column;
            flex-shrink: 0;
            width: 15.2rem;
            height: 100%;
            align-items: center;
            display: flex;

            .rectangle-2-T1R {
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
            }
            .informaes-do-cosplay-vvb {
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 2.7rem 0rem;
              font-size: 1.3rem;
              font-weight: 500;
            }
            .botao-votar-2Cw {
              width: calc(100% - 7.7rem);
              font-weight: 600;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              border-radius: 0.7rem;
              margin: 0rem 3.7rem 0rem 4rem;
              height: 3.4rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              line-height: 1.0902273178;
              color: #ffffff;
              justify-content: center;
              background-color: #349a3e;
              cursor: pointer;
              font-size: 2rem;
              align-items: center;
            }
          }
        }
        .frame-10-SXZ {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 18.8rem;
          display: flex;

          .votar-nbR {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2.4rem;
            width: 15.2rem;
            height: 100%;
            align-items: center;

            .rectangle-2-ijy {
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.3rem;
              width: 14.9rem;
            }
            .informaes-do-cosplay-BtT {
              margin: 0rem 0.3rem 2.7rem 0rem;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.0902273472;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .botao-votar-VPM {
              border-radius: 0.7rem;
              font-size: 2rem;
              font-weight: 600;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              height: 3.4rem;
              cursor: pointer;
              line-height: 1.0902273178;
              flex-shrink: 0;
              justify-content: center;
              background-color: #349a3e;
              margin: 0rem 3.7rem 0rem 4rem;
              width: calc(100% - 7.7rem);
              color: #ffffff;
              display: flex;
              align-items: center;
            }
          }
          .votar-WpF {
            width: 15.2rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rectangle-2-Shu {
              width: 14.9rem;
              height: 10.2rem;
              background-color: #d9d9d9;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.3rem;
            }
            .informaes-do-cosplay-mVH {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 2.7rem 0rem;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.0902273472;
              color: #ffffff;
            }
            .botao-votar-61m {
              justify-content: center;
              margin: 0rem 3.7rem 0rem 4rem;
              width: calc(100% - 7.7rem);
              height: 3.4rem;
              background-color: #349a3e;
              cursor: pointer;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.0902273178;
              box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.3700000048);
              display: flex;
              align-items: center;
              border-radius: 0.7rem;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 600;
              color: #ffffff;
            }
          }
        }
      }
      .frame-8-4Mu {
        box-sizing: border-box;
        padding: 1.3rem 2.4rem 1.5rem 2.4rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        flex-shrink: 0;

        .crditos-back-end-do-site-jlio-cesar-2-b-informtica-front-end-do-site-genildo-kau-2-a-informtica-ajustes-tcnicos-kerollayne-2-a-informtica-e-pedro-2-b-informtica-integraes-e-servidor-eubert-e-sayro-2-a-informtica-Pf5 {
          font-family: Inter, 'Source Sans Pro';
          max-width: 21.8rem;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.0902273655;
          color: #8c8c8c;
        }
      }
    }
  }
}
